## Dotnet
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
packages/

## Logs
*.log

## Env
.env
.env.*

## OS
.DS_Store
Thumbs.db

## Editors
.idea/
.vscode/

## Frontend
node_modules/
dist/
build/
.svelte-kit/
.vite/
*.tsbuildinfo

## Coverage
coverage/
